@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary1: 0 0% 100%;
    --color-primary2: 0 0% 98%;
    --color-accent1: 200 15% 8%;
    --color-accent2: 0 0% 52%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary1: 209 23% 22%;
      --color-primary2: 207 26% 17%;
      --color-accent1: 0 0% 100%;
      --color-accent2: 0 0% 52%;
    }
  }

  :root[data-theme="dark"] {
    --color-primary1: 209 23% 22%;
    --color-primary2: 207 26% 17%;
    --color-accent1: 0 0% 100%;
    --color-accent2: 0 0% 52%;
  }
}
